cppss/historesult/
cppss/dist_sole_result/
cppss/incl_result/
cppss/grafici/
pyss/res/
pyss/*.png
cppss/grafici
pyss/belli/
cppss/energy_result/
updater
pulizia
cppss/result
cppss/*.o
cppss/SS
cppss/graphs
cppss/cc
cppss/vettore
cppss/sonda
cppss/aa
SISt_SOL
cppss/ris2
cppss/img2
